html{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #EDD2E0;
    width: 100;
    margin: 0;
    padding: 0;
}
/*==============================================
NAVIGATION BAR
==============================================*/
nav {

    background-color: #797B84;
    box-shadow: 5px 5px 8px #909299;
    margin: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    overflow: hidden;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
}
nav h1{
    text-align: left;
    padding-left: 15px;
    font-size: 22px;
    color: #EDD2E0;
}
nav ul{
    text-align: right;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
    list-style-type: none;
}
nav > ul > li > a{
    font-size: 18px;
    color: #EDD2E0;
    background-color:#797B84;
    display: inline-block;
    line-height: 2em;
    padding: 0.5em 0.5em;
    text-decoration: none;
    font-weight: 600;
}
/*===========================================
ABOUT ME SECTION
===========================================*/
#About_Me{
    margin-top: 100px;
    padding: 0px 50px;  
}
.container{
    clear: both;
}
.container p{
    font-size: 18px;
    font-weight: 700;
}
.float-left{
    float: left;
    padding-top: 90px;
    padding-left: 100px;
}
.float-right{
    border-radius: 10px;
    height: 300px;
    float: right;
    margin: 5px 10px 25px 10px;
    border: 20px solid #BAA1A7;
    box-shadow: 4px 2px 8px #9A9CA2;
}
.float-left2{
    border-radius: 10px;
    height: 220px;
    float: left;
    margin: 40px 10px 40px 10px;
    border: 20px solid #BAA1A7;
    box-shadow: 4px 2px 8px #9A9CA2;
}
.float-right2{
    float: right;
    padding-top: 100px;
    padding-left: 10px;   
}
/*====================================================
WOMEN RUNNER VIDEO SECTION
======================================================*/
.vids-header{
    text-align: left;
    font-size: 26px;
    color: #DBABBE;
    font-weight: 600;
    text-align: center;
    padding-bottom: 25px;
    text-decoration: underline solid;
}
.vids-container{
    background: url(../images/background.png);
    width: 100%;
    clear: both;
    padding-top: 25px;
    border-radius: 4px;
}
.vids{
    text-align: center;
    padding-bottom: 25px;   
}
iframe{
    border: 20px solid #e2e2e2;
    box-shadow: 4px 4px 10px #ABADB2;
    border-radius: 4px;
}
h3{
    color: #797B84;
    font-size: 18px;
}
/*============================================
CONTACT SECTION
============================================*/
.contact-header{
    text-align: left;
    font-size: 26px;
    font-weight: 600;
    color: #797B84;
    text-align: center;
    padding-bottom: 25px;
    text-decoration: underline solid;
}
h4{
    text-align: center;
    font-size: 16px;
}
form{
    font-size: 18px;
    outline: none;
    font-weight: 600;
    color:  #DBABBE;
    padding: 12px 12px;
    width: 50%;
    border: 1px solid #ececec;
    margin: 2% auto;
    border-radius: 6px;
    background: #ececec;
    box-shadow: 4px 2px 8px #9A9CA2;
}
input[type="text"]{
    font-size: 20px;
    outline: none;
    font-weight: 600;
    color: #8D8E8F;
    padding: 10px;
    width: 90%;
    margin: 10px 10px;
    border-radius: 8px;
    background:  #ececec;
    border: 1px solid #797B84;
}
select{
    font-size: 20px;
    outline: none;
    font-weight: 600;
    color: #8D8E8F;
    padding: 10px;
    width: 93%;
    margin: 10px 10px;
    border-radius: 8px;
    background:  #ececec;
    border: 1px solid #797B84;
}
input[type="submit"]{
    color: rgb(225, 225, 225);
    cursor: pointer;
    border: none;
    font-weight: 900;
    outline: none;
    text-align: center;
    margin: 0px 38%;
    padding: 7px 0px;
    width: 25%;
    font-size: 18px;
    transition: border-color 0.3s background-color 0.3s;
    border-radius: 8px;
    background-color: #797B84;
    box-shadow: 1px 1px 4px 0px #797B84;
}
input[type="submit"]:hover{
    color: #000;
    background-color: #8D8E8F;
    box-shadow: inset 1px 2px 15px 0 #797B84;;
}
/*=====================================================
FOOTER
======================================================*/
.footer{
    margin: 150px 10px 50px 10px;
    font-size: 16px;
    font-weight: 500;
    color: #797B84;
}
.social{
    float: right;
    padding-right: 10px;  
}


